.khan__book-pic {
  width: 608px;
  height: 620px;
  margin: 0 48px 0 0;
  object-position: top;
  object-fit: cover;
  /*vertical-align:bottom; */ /*Исходя из брифа - отступ у фото убирать не надо*/
}
